@mixin tablet() {
    @media screen and (max-width: 800px) {
        @content;
    }
}

$padding-inline: 3.125rem;
$color: #2D2D2D;
$transition: 0.5s;
$header-height: 5rem;

.header {
  height: $header-height;
    > div{
      position: fixed;
      background-color: white;
      z-index: 40;
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      padding-inline: $padding-inline;
      height: $header-height;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-logo {
        a {
            display: block;
            color: black;;
            text-decoration: none;

            &:visited,
            &:active {
                color: black;
            }



        }
          img {
              display: block;
              height: 2.5rem;
          }
      }
      .header-links-web{
        .header-items.active a{
            color: black;
            filter: blur(0);
        }
      }
      [class*="header-links"]{
          display: flex;
          flex-wrap: nowrap;
          gap: 10px;
          justify-content: space-around;
          width: 30%;
          max-width: 18.75rem;

          div {
              transition: $transition;

              &:nth-child(even):hover {
                  transform: rotate(-20deg) !important;
                  display: block;
              }

              a {
                  transition: $transition;
                  display: block;
                  filter: blur(0.025rem);
                  color: $color;
                  text-decoration: none;

                  &:visited,
                  &:active {
                      color: $color;
                  }

                  &:hover {
                      color: black;
                      filter: blur(0);
                      scale: 1.2;
                      transform: rotate(10deg);
                      display: block;
                  }


              }
          }
      }

      .dots , .header-links-mobile{
          display: none;
      }

      @include tablet() {
          .header-links-web {
              display: none;
          }
          .dots {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1fr 1fr;
              width: 3.125rem;
              height: 3.125rem;
              gap: 5px;
              transition: 1s all ease-in-out;

              [class*=dot-container] {
                  transition: 1s all ease-in-out;

                  .dot {
                      display: block;
                      background-color: black;
                      border-radius: 100%;
                      width: 0.5rem;
                      height: 0.5rem;
                      transition: 1s all;
                  }
              }

              .dot-container1 {
                  display: flex;
                  align-items: flex-end;
                  justify-content: flex-end;
              }

              .dot-container2 {
                  display: flex;
                  align-items: flex-end;
                  justify-content: flex-start;
              }

              .dot-container3 {
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-end;
              }

              &.opened {
                  gap: 0;
                  transform: rotate(-180deg);

                  [class*=dot-container] {
                      transform: rotate(90deg);
                  }

                  .dot-container1 {
                      .dot {
                          transform: translate(50%, 50%);
                      }
                  }

                  .dot-container2 {
                      .dot {
                          transform: translate(-50%, 50%);
                      }
                  }

                  .dot-container3 {
                      .dot {
                          transform: translate(50%, -50%);
                      }
                  }

                  .dot-container4 {
                      .dot {
                          transform: translate(-50%, -50%);
                      }
                  }
              }
          }
          $border:2px solid $color;
          .header-links-mobile {
              display: none;
              border-left: $border;
              border-bottom: $border;
              background-color: white;
              z-index: 30;
              position: fixed;
              top: $header-height;
              right: -50rem;
              width: fit-content;
              max-width: 50%;
              height: fit-content;
              flex-direction: column;
              align-items: end;
              transition: 0.4s all ease-out;
              padding: 0;
                 width: 112px;
              &.link-flex{
                  display: flex;
              }
              &.link-opened{
                  right: 0;
              }
              div a{
                  filter: none!important;
              }
              .header-items.active a{
            color: rgb(0, 0, 0);
          
              }
              .header-items{
                width: 100%;
                padding-block: 1rem;
               a{
                text-align: center;
               }
                &.active{
                    background-color: #2d2d2d48;
                }
              }
          }
      }
    }
}
