@mixin tablet(){
  @media screen and (min-width: 800px) {
    @content;
  }
}

.contato{
  display: flex;
  width: 100%;
  justify-content: center;

  > div{
    display: flex;
    flex-direction: column;
    width: calc(100% - 3.75rem);
    gap: 5.3125rem;

    @include tablet(){
      flex-direction: row;
      justify-content: center;
    }
  }
}

.contato__left{
  width: 100%;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;

  @include tablet(){
    width: 50%;
    max-width: 22.5rem;
  }

  > h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.625rem;
    color: #2D2D2D;
    font-family: "Epilogue", sans-serif;
  }

  > p{
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6875rem;
  }

  > ul{
    display: flex;
    gap: 1.25rem;
    margin-top: 1.25rem;
  }
}

.contato__right{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @include tablet(){
    width: 50%;
    max-width: 35.625rem;
  }

  > div{
    position: relative;

    > label{
      position: absolute;
      top: 2.1563rem;
      transform: translateY(-50%);
      left: 1.875rem;
      color: #2D2D2D;
      font-size: 1.0625rem;
      font-family: "Epilogue", sans-serif;
      transition: all 0.3s;

      &.contato_label{
        top: 2.1563rem;
      }
    }

    > input{
      height: calc(4.3125rem - 2.625rem);
      background-color: #F3F3F3;
      border: none;
      width: calc(100% - 3.75rem);
      padding: 1.3125rem 1.875rem;
      outline: none;
    }

    > textarea{
      height: calc(14.4375rem - 2.625rem);
      background-color: #F3F3F3;
      border: none;
      border-top: 1.9375rem solid #F3F3F3;
      width: calc(100% - 3.75rem);
      padding: 0 1.875rem 1.3125rem 1.875rem;
      outline: none;
      line-height: 1.9375rem;
    }

    > span{
      color: red;
      margin-top: 1.25rem;
      display: block;
      width: 100%;
      margin-left: 1.25rem;
    }
  }
}

.ativo{
  > label{
    top: 1.29378rem !important;
    font-size: 0.625rem !important;

    &.contato_label{
      top:  1.293rem !important;
    }
  }
}

.contato_botao{
  margin-top: 2.5rem;
  padding-bottom: 5rem;

  > button{
    background-color: #2D2D2D;
    border: none;
    color: white;
    height: 5rem;
    width: 14.6875rem;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

    &:disabled{
      opacity: .5;
      cursor: initial;

      &:hover{
        opacity: .5;
      }
    }

    &:hover{
      opacity: 0.9;
      transition: 0.2s;
    }
  }
}
